<div class="relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 mt-4 h-96 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700">
    <img
      src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=927&amp;q=80"
      class="h-full w-full object-cover"
    />
  </div>
  <div class="p-6">
    <div class="mb-2 flex items-center justify-between">
      <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
        <ng-container *ngTemplateOutlet="nameTemplate"></ng-container>
      </p>
      <p class="block font-sans text-base font-medium leading-relaxed text-blue-gray-900 antialiased">
        <ng-container *ngTemplateOutlet="priceTemplate"></ng-container>
      </p>
    </div>
    <p class="block font-sans text-sm font-normal leading-normal text-gray-700 antialiased opacity-75">
      <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
    </p>
  </div>
  <div class="p-6 pt-0">
    <button
      class="block w-full select-none rounded-lg bg-blue-gray-900/10 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
    >
      <ng-container *ngTemplateOutlet="buttonTemplate"></ng-container>
    </button>
  </div>
</div>



<ng-template #nameTemplate>
  <ng-content select="[name-title]"></ng-content>
</ng-template>

<ng-template #priceTemplate>
  <ng-content select="[price-title]"></ng-content>
</ng-template>

<ng-template #descriptionTemplate>
  <ng-content select="[description-description]"></ng-content>
</ng-template>

<ng-template #buttonTemplate>
  <ng-content select="[button-description]"></ng-content>
</ng-template>



