

  <form >

    <div class="relative h-11 w-full min-w-[100px]">
      <input [type]="type" appForm [formValue]="name" (change)="handleFormSubmission(name)"
             class="peer h-full w-full border-b border-blue-gray-200 bg-slate-50 pt-4 ps-3 pb-1.5 font-sans text-lg font-medium text-blue-gray-700 outline outline-0 transition-all placeholder-shown:border-blue-gray-200 focus:border-pink-500 focus:outline-0 disabled:border-0 disabled:bg-blue-gray-50"
             placeholder=" "
      />
      <label class="after:content[' '] duration-500 pointer-events-none absolute left-0  -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-blue-gray-500 transition-all after:absolute after:-bottom-1.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-pink-500 after:transition-transform after:duration-300 peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.25] peer-placeholder-shown:text-blue-gray-500 peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-pink-500 peer-focus:after:scale-x-100 peer-focus:after:border-pink-500 peer-disabled:text-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500">
        <div class="ms-2">
          <ng-content></ng-content>
        </div>
      </label>
    </div>
  </form>

